@media only screen and (max-width: 990px)
{

    .first-section{
        flex-wrap: wrap;
    }
    .first-section .content{
    width: 100%;
    text-align: center;
    order: 2;
    margin-top: -200px;
    margin-bottom: 10px;
    }
    .image-container{
        width: 90%; 
        order: 1;
        text-align: center;
        margin-left: 10%;
        margin-top: 150px;
    }

    .image-container .img{
    width: 80%;
    margin: auto;
    
}

.group{
    flex-wrap: wrap;
}
.f-image{
    background-color: white;
    width: 30%;
    text-align: center;
    height: fit-content;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.515));
    border: 1px transparent;
    border-radius: 10px;
    /* margin-left: 100px; */
    transition: all 0.5s;
    overflow: hidden;
    margin-left: 17%;
}

.s-image{
    background-color: white;
    width: 30%;
    text-align: center;
    height: fit-content;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.515));
    border: 1px transparent;
    border-radius: 10px;
    /* margin-left: 50px; */
    transition: all 0.5s;
    overflow: hidden;
    /* height: 500px; */
}


.t-image{
    background-color: white;
    width: 30%;
    text-align: center;
    height: fit-content;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.515));
    border: 1px transparent;
    border-radius: 10px;
    margin-left: 17%;
    transition: all 0.5s;
    overflow: hidden;
    margin-top: 50px;
}

.image-content
{
    
     display: flex;
     flex-wrap: wrap;
    
    
}


.image-content .f1{
    
    width: 30%;
    /* margin-left: 100px; */
    /* order: 0; */
     margin-left: 17%;
   
}

.image-content .f2{
    
    width: 30%;
    /* margin-left: 100px;/ */
    /* order: 1; */

   
}

.image-content .f3{
    
    width: 30%;
    margin-left: 17%;
    /* margin-left: 100px;/ 
    /* order: 2; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    margin-top: -150px;
   
}

.frame{
    width: 75%;
    margin-left: 7%;
}

.information .address{
    width: 35%;
    margin-left: 12.5%;
}

.information .email{
    width: 35%;
    margin-left: 5%;
   
    
}


.information .open{
    width: 35%;
    margin-left: 5%;
    
    
    
}
.information .call{
    width: 35%;
    margin-left: 12.5%;
    
    
    
}


.form{
    width: 75%;
    margin-left: 12.25%;
    
}
input{
    width: 100%;
}
.name{
    margin-left: 0;
}
textarea{
    width: 100%;
}
.b{
    margin-top: 30px;
    text-align: center;
}



.details{
    flex-wrap: wrap;
    
}

.f-d{
    width: 40%; 
    order: 1;
    margin-left: 12%;
}

.s-d{
    width: 780px; 
    order: 3;
    margin-left: 12%;
    margin-top: -90px;
}
.t-d{
    width: 40%; 
    order: 2;
}
}


@media only screen and (max-width: 800px)
{
    .logo{
        margin-left: 7%;
    }

    .first-section{
        flex-wrap: wrap;
    }
    .first-section .content{
    width: 100%;
    text-align: center;
    order: 2;
    margin-top: -200px;
    margin-bottom: 10px;
    }

    content .p{
    padding-left: 0%;
    color: #4f4f5a;

}

    .image-container{
        width: 90%; 
        order: 1;
        text-align: center;
        margin-left: 7%;
        margin-top: 150px;
        margin-bottom: 100px;
    }
    .group{
    flex-wrap: wrap;
}

.second-section .header .title
{
    font-size: 20px;
    margin-top: 50px;
}
.f-image{
    
    width: 70%;
    margin-left: 14%;
}

.s-image{
    
    width: 70%;
    margin-left: 14%;
    margin-top: 5%;
}


.t-image{
    
    width: 70%;
    margin-left: 14%;
    margin-top: 5%;
}


.third-section  .header .check
{
    font-size: 20px;
    margin-top: 50px;
    
}

.image-content .f1{
    
    width: 75%;
    margin-left: 12%; 
}

.image-content .f2{
    
    width: 75%;
    margin-left: 12%; 
    /* margin-bottom: 10%; */
}

.image-content .f3{
    
    width: 75%;
    margin-left: 12%; 
    margin-top: 0%;
}


.fourth-section .header .needhelp{
    font-size: 20px;
}

.information{
    max-width: 75%;
}

.information .address{
    width: 100%;
    margin-left: 16.5%;
    
}

.information .email{
    width: 100%;
    margin-left: 16.5%;
    margin-top: 2%;
    
}

.information .call{
    width: 100%;
    margin-left: 16.5%;
    margin-top: 2%;
    
}

.information .open{
    width: 100%;
    margin-left: 16.5%;
    margin-top: 2%;
    
}

.details .f-d{
    width: 75%;
    order: 1;
    /* margin-left: 12%; */
}

.s-d{
    width: 75%; 
    order: 2;
    /* margin-left: 12%; */
    margin-top: 2%;
}

.t-d{
    width: 75%; 
    order: 3;
}

.s-d ul li{
    width: 200%;
    /* background-color: rgba(0, 0, 100); */
    margin:0;
    margin-bottom: 10px;
    padding: 6px 10px;
    /* opacity: 0; */
    position: relative;
    left: 0;
    transition: all 0.5s;
    
}
.s-d ul.ttt{
    margin-left: 30%;
    width: 20%;
}


.ic .fa-twitter{
    color: white;
    font-size: 40px;
    margin-right: 20%;
}
.ic .fa-facebook{
    color: white;
    font-size: 40px;
    margin-right: 20%;
}
.ic .fa-instagram{
    color: white;
    font-size: 40px;
    margin-right: 20%;
}
.ic .fa-linkedin-square{
    color: white;
    font-size: 40px;
}   
}



@media only screen and (max-width: 700px)
{
    .ic .fa-twitter{
    color: white;
    font-size: 40px;
    margin-right: 10%;
}
.ic .fa-facebook{
    color: white;
    font-size: 40px;
    margin-right: 10%;
}
.ic .fa-instagram{
    color: white;
    font-size: 40px;
    margin-right: 10%;
}
.ic .fa-linkedin-square{
    color: white;
    font-size: 40px;
} 
.btt
{
    width: 100%;
}
.si{
    width: 100%;
}

.h ul{
    width: 50%;
}
.s-d ul li{
    /* width: 200%; */
    /* background-color: rgba(0, 0, 100); */
    margin:0;
    margin-bottom: 10px;
    padding: 6px 10px;
    /* opacity: 0; */
    position: relative;
    left: 0;
    transition: all 0.5s;
    
}
.t-d{
    margin-top: 6%;
    /* height: fit-content; */
}
.l{
    width: 50px;
}

.logo{
        margin-left: 1%;
    }

    .image-container{
        width: 90%; 
        order: 1;
        text-align: center;
        margin-left: 5%;
        margin-top: 150px;
        margin-bottom: 140px;
    }


    .f-image{
    
    width: 85%;
    margin-left: 7%;
}

.s-image{
    
    width: 85%;
    margin-left: 7%;
    margin-top: 5%;
}


.t-image{
    
    width:85%;
    margin-left: 7%;
    margin-top: 5%;
}


.image-content .f1{
    
    width: 85%;
    margin-left: 7%; 
}

.image-content .f2{
    
    width: 85%;
    margin-left: 7%; 
    /* margin-bottom: 10%; */
}

.image-content .f3{
    
    width: 85%;
    margin-left: 7%; 
    margin-top: 0%;
}

    .information{
    max-width: 85%;
}
.map{
    width: 85%;
}

.information .address{
    width: 100%;
    margin-left: 8%;
    
}

.information .email{
    width: 100%;
    margin-left: 8%;
    margin-top: 2%;
    
}

.information .call{
   width: 100%;
    margin-left: 8%;
    margin-top: 2%;
    
}

.information .open{
    width: 100%;
    margin-left: 8%;
    margin-top: 2%;
    
}

.frame{
    margin-left: 0%;
    width: 85%; 
}
.form{
    margin-left: 7%;
    width: 85%;
}






}



@media only screen and (max-width: 1200px)
{
    
.navbar .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 15px;
  }
  .navbar .nav-btn label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .navbar .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn label {
    /* margin-top: 25px; */
    cursor: pointer;
  }
  .navbar .nav-btn label span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid black;

  }
  .navbar  .nav-links {
    display: none;
  }
  
  .icon .fa-bars{
    display: inline-block;
}
  


  .tefa .line{
    
    left: -100px;
}

.tefa1:hover .line1{
    left: -100px;
}

.tefa2:hover .line2{
    left: -100px;
}

  
  .navbar #nav-check:not(:checked) ~ .nav-links {
    height: 0px;

  }
  .navbar #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

}



